.breadcrumb {
    
    padding-top: 20px;
    padding-left: 15px;
    margin: 0px;
}

.breadcrumb-link{
    text-decoration: none;
    color: black;
}
.breadcrumb-link:hover{
    font-weight: bold;
}

.breadcrumb-d{
    text-decoration: none;
    color: black;
    padding-left: 6px; 
    padding-right: 6px; 
}

